
@{
    ViewBag.Title = "Search for an API";
}

@section Styles
{
    @Styles.Render("~/bundles/prettifyCss")
}

@section Scripts
{
    <script>
        var ApiModel = ko.observable(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(new dependAnt.Website.Models.InventoryItem())));
        var errors = ko.observableArray();
    </script>

    <script src="~/Scripts/inventory-search-api.js?seed=@DateTime.Now.Ticks.ToString()"></script>

    @Scripts.Render("~/bundles/prettifyJs")
}

<h2>Find an API</h2>

<div class="alert alert-success" data-bind="css: { 'alert-danger': gotError }">
    <span data-bind="text: response()"></span>
</div>
<div class="form-group">
    <label>API Identification #</label>
    <input class="form-control" data-bind="value: inputModel.id" />
</div>
<button class="btn btn-primary" data-bind="click: GetApi">Find an API</button>


<h2>Search Results</h2>
<div class="well">
    <pre class="prettyprint">
    API ID: <!--ko text: viewModel.id--><!--/ko-->
    API Name: <!--ko text: viewModel.name--><!--/ko-->
    API Description: <!--ko text: viewModel.description--><!--/ko-->
    API Version: <!--ko text: viewModel.version--><!--/ko-->
    </pre>
</div>
